.DS_Store
/docset.json
/dash
/UnicodeCharacters.docset/Contents/Resources/Documents/index.html
/UnicodeCharacters.docset/Contents/Resources/Documents/c/
/UnicodeCharacters.docset/Contents/Resources/docSet.dsidx
/UnicodeCharacters.docset/Contents/Resources/optimizedIndex.dsidx
/UnicodeCharacters.tgz
/ucd.*
/cldr-annotations.json
